<div class="text-center">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="performLogin()">

    <img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72"
         height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" id="inputEmail" formControlName="username"
             [class.is-invalid]="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)"
             class="form-control" placeholder="Username" required="" autofocus=""
             autocomplete="off">
    </div>
    <div class="text-left"
         *ngIf="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched) && usernameControl.errors.required">
      <small class="text-danger">Username is required!</small>
    </div>
    <div>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" formControlName="password"
             [class.is-invalid]="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)"
             class="form-control" placeholder="Password" required=""
             autocomplete="off">
    </div>
    <div class="text-left"
         *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched) && passwordControl.errors.required">
      <small class="text-danger">Password is required!</small>
    </div>
    <div class="text-left"
         *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched) && passwordControl.errors.minlength">
      <small class="text-danger">Password is to short!</small>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
  </form>
</div>
